.restrictions__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.restrictions__item-info {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.restrictions__user-section {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 11px solid #AAAAAA;
}

.restrctions__user-section.restrctions__active {
    border-left: 11px solid #00FF00;
}

img.restrictions__profile-image {
    width: 63px;
    height: auto;
}

.restrictions__user-info {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    justify-content: center;
}

.restrictions__user-info h2 {
    font-size: 24px;
}

.restrictions__user-info h3 {
    font-size: 18px;
}

.restrictions__item-actions {
    padding-right: 10px;
}

.restrictions__item-reason {
    background-color: #2A2A2A;
    padding: 10px;
    text-overflow: ellipsis;
}

.restrictions__submit-form p {
    margin-top: 10px;
}