.teams__page-navigation {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
}
.teams__page-navigation-pages {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0px 30px;
}

.teams__page-navigation-item {
    font-weight: 100;
    opacity: 0.5;
}

.teams__page-navigation-item-active {
    font-weight: 900;
    opacity: 1;
}

.teams__page-navigation-home, .teams__page-navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 39px;
    background-color: #fff2;
    border-radius: 8px;
}

.teams__page {
    --page-width: 1625px;
    margin: 30px auto;
    width: calc(100% - 30px);
    max-width: var(--width);
}
