.images__image-preview {
    width: 700px;
    background-color: #444;
    border: 1px solid #333;
    padding: 10px;
    height: 320px;
}

.images__image-preview img {
    height: 300px;
}

form p {
    margin-top: 12px;
    margin-bottom: 4px;
}