/* @Osekai/osekai
/tools/src/comparer @EXtremeExploit
/tools/src/medal_name_quiz @TomyDoesThings
/tools/src/medal_percentage @minusQuantumNeko
/tools/src/ppcalc @katk1 @thenerdie
/tools/src/stdev_pp_calc @Remyria