.comments__pfp {
    height: 58px;
    width: 58px;
    border-radius: 10px;
}

#comments__box {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.comments__post, .comments__comment {
    display: flex;
}
.comments__comment:first-child {
    margin-top: 0px;
}
.comments__comment  {
    margin-top: 12px;
}

.comments__comment-content-username-right {
    margin-left: auto;
}


#comments__box, .comments__area {
    max-width: 100%;
    overflow: hidden;
}
.comments__comment-content {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 16px;
    align-self: stretch;
    box-sizing: border-box;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(25% * var(--accentdark_valueoffset))), hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(21% * var(--accentdark_valueoffset))));

}

.comments__area {
    width: 100%;
}

.comments_emoji_popup_conainer {
    position: absolute;
    z-index: 4;
    margin-top: calc(100% - 78px);
}

.comments_emoji_popup_conainer-hidden {
    display: none;
}

.comments__input-box__emoji {
    margin: 0px 12px;
}

.comments__post-disabled {
    opacity: 0.5;
    pointer-events: none;

}


#oReplyBox {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
}
.comments__comment-content img {
    max-width: 50%;
}

.comments__comment-votes {
    border-radius: 99px;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(25% * var(--accentdark_valueoffset))), hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(21% * var(--accentdark_valueoffset))));
    padding: 6px;
    min-width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    transition: all 0.1s ease;
}

.comments__comment-votes:hover {
    cursor: pointer;
    filter: brightness(1.2);
    outline: 3px solid rgb(var(--accent));
}
.comments__comment-votes:active {
    outline: 1px solid rgb(var(--accent));
}

.comments__comment-left, .comments__post-left {
    margin-right: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments__comment-infobar {
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(12% * var(--accentdark_valueoffset))), hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(17% * var(--accentdark_valueoffset))));
    padding: 9px 14px;
    padding-top: calc(9px + 10px);
    margin-top: -10px;
    border-radius: 10px;
    width: calc(100% - 12px);
    box-sizing: border-box;
}

.comments__list{
    width: 100%;
}



.comments__comment-content-username {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}


.comments__comment-content-username object {
    margin-bottom: 4px;
    margin-left: 6px;
}
.comments__username {
    font-size: 19px;
    font-weight: 900;
}

.comments__comment-content-text {
    font-size: 13px;
    max-width: 100%;
}
.comments__comment-content-text p, .comments__comment-content-text a {
    max-width: 100%;
    overflow: hidden;
    white-space: pre-line;
}
.comments__comment-content-text a  {
    white-space:pre-wrap;
}

.comments__comment-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    flex: 1;
}

.comments__comment-infobar-info, .comments__comment-infobar {
    display: flex;
    align-items: center;
}

.comments__comment-infobar-info i {
    margin-right: 6px;
    font-size: 15px;
}

.comments__comment-infobar-info {
    margin-right: 12px;
    font-size: 12px;
}

.comments__comment-infobar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.comments__comment-infobar-button {
    margin-left: 6px;
    height: 21px;
    width: 35px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1125) 100%);
box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 99px;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
cursor: pointer;
}

.comments__comment-infobar-button:hover {
    outline: 1px solid #fff4;
    filter: brightness(1.1);
}

.comments__comment-infobar-button-big {
    height: 21px;
    width: 45px;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(25% * var(--accentdark_valueoffset))), hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(21% * var(--accentdark_valueoffset))));

}

.comments__post-right {
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(23% * var(--accentdark_valueoffset))), hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(28% * var(--accentdark_valueoffset))));
    border-radius: 10px;
}
.comments__post-upper {
    border-radius: 10px 10px 0px 10px;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(18% * var(--accentdark_valueoffset))), hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(17% * var(--accentdark_valueoffset))));
}
.comments__post-upper textarea {
    width: 100%;
    resize: vertical;
    font-family: inherit;
    border: 0px solid transparent;
    background-color: transparent;
    color: inherit;
    outline: 0px solid transparent !important;
    padding: 19px 14px;
    box-sizing: border-box;
}

.comments__post-right, .comments__post-upper {
    width: 100%;
    box-sizing: border-box;
}
.comments__post-lower {
    display: flex;
    align-items: center;
    height: 36px;
}

.comments__post-lower-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.comments__post-lower-right p {
    font-size: 12px;
    margin-right: 6px;
}

.comments__post-button {
    padding: 0px 25px;
    height: 36px;
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(var(--accentdark));
    background-color: white;
    border-radius: 0px 0px 10px 0px;
    margin-left: 4px;
    cursor: pointer;
}

.comments__comment-reply {
    padding-left: 20px;
    margin-top: 6px;
}

.comments__comment-votes-voted {
    background: linear-gradient(45deg, hsl(var(--accent_hue), var(--accent_saturation), calc(50% * var(--accent_valueoffset))), hsl(var(--accent_hue), var(--accent_saturation), calc(70% * var(--accent_valueoffset))) );
    color: #fff;
}

.comments__comment-content-text {
    overflow: hidden;
white-space: pre-line;
}
.comments__comment-content-text .emoji {
    width: 16px;
}

.comments__comment-content-text p {
    max-width: 100%;
}

.comments__comment-pinned .comments__comment-content {
    box-shadow: inset 0px 0px 14px 2px rgba(var(--accent), 0.4);
    border: 1px solid rgba(var(--accent), 0.8);
}

.comments__comment-content-pinned {
    display: flex;
    align-items: center;
    background-color: rgba(var(--accent), 0.2);
    border-radius: 900px;
}
.comments__comment-content-pinned p {
    padding-left: 9px;
    padding-right: 5px;
    font-size: 13px;
}

.comments__comment-content-pinned-icon {
    height: 20px;
    width: 20px;
    background: linear-gradient(-45deg, hsl(var(--accent_hue), var(--accent_saturation), calc(50% * var(--accent_valueoffset))), hsl(var(--accent_hue), var(--accent_saturation), calc(70% * var(--accent_valueoffset))) );
    border-radius: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding-left: 2px;
    padding-bottom: 2px;
}