.comments_emoji_popup_conainer {
    position: absolute;
    top: 50%;
    right: 50px;
    margin-top: 22px;
    transition: all 0.2s ease;
    ;
    z-index: 55;
}

.comments_emoji_popup_conainer-hidden {
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
}

.comments__comment {
    display: flex;
}

.comments__comment-pfp-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
}

.comments__pb-user-pfp {
    width: 58px;
    background-color: #fff5;
    outline: 3px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    outline-offset: -3px;
    height: auto;
}

.comments__comment-vote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    min-width: 45px;
    box-sizing: border-box;
    padding: 5px 8px;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(28% * var(--accentdark_valueoffset))),
            hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(24% * var(--accentdark_valueoffset))));
    border-radius: 200px;
    font-weight: 900;
}

.comments__comment-vote:hover {
    cursor: pointer;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(32% * var(--accentdark_valueoffset))),
            hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(28% * var(--accentdark_valueoffset))));
}

.comments__comment-vote-voted {
    background: white;
    color: hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(28% * var(--accentdark_valueoffset)));
}

.comments__comment-bottom {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(17% * var(--accentdark_valueoffset))),
            hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(20% * var(--accentdark_valueoffset))));
    display: flex;
    align-items: center;
    margin: 0px 8px;
    margin-top: -4px;
    padding: 7px 14px;
    padding-top: 11px;

    position: relative;
}

.comments__comment-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.comments__comment-top {
    border-radius: 10px;
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(25% * var(--accentdark_valueoffset))),
            hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(28% * var(--accentdark_valueoffset))));
    z-index: 2;
    position: relative;
    padding: 14px 16px;
}

.comments__comment {
    margin-top: 22px;
}

.comments__comment.comments__reply, #oReplyBox {
    margin-top: -10px;
    padding-left: calc(58px/4 + 4px);
    margin-left: calc(58px/4 - 18px + 4px);
    padding-top: 20px;
    margin-bottom: 10px;
    border-left: 2px solid hsla(var(--accentdark_hue), var(--accentdark_saturation), calc(80% * var(--accentdark_valueoffset)), 0.25);
}

.comments__reply {
    display: flex;
    align-items: flex-start;
}
.comments__input-box-textarea textarea {
    border: 0px;
outline: transparent;
background-color: #0000;
color: white;
min-height: 20px;
padding: 20px 15px;
width: 100%;
resize: none;

} 
.comments__input-box-textarea {
    display: flex;
align-items: center;
box-sizing: border-box;
width: 100%;
}

.comments__input-box  {
    background: linear-gradient(hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(25% * var(--accentdark_valueoffset))),
    hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(22% * var(--accentdark_valueoffset))));
    border-radius: 10px 10px 0px 10px;
}

.comments__input-box {
    flex: 1;
}


#oReplyBox {
    border-left: 2px solid hsla(var(--accentdark_hue), var(--accentdark_saturation), calc(50% * var(--accentdark_valueoffset)), 1);
}

.comments__cb-inner {
    margin-right: auto;
    display: flex;
    align-items: center;
    font-size: 15px !important;
}

.comments__cb-inner i {
    margin-right: 6px;
}

.comments__cbi-posted {
    margin-right: 14px;
}

.comments__cbi-button {
    margin-left: 6px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.1125) 100%);
    box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 200px;
    padding: 5px 16px;
}

.comments__cbi-button:hover {
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.1125) 100%);
}

.comments__comment-top-username {
    color: hsl(var(--accentdark_hue), var(--accentdark_saturation), calc(85% * var(--accentdark_valueoffset)));
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 3px;
}

.comments__comment-top-text {
    font-size: 15px;
}

.comments__comment-bottom .osekai__dropdown {
    margin-top: 0px;
    z-index: 9;
    right: 15px;
    top: 84%;
    box-sizing: border-box;
    transform: translateY(0%) perspective(50em);
}

.comments__comment-bottom .osekai__dropdown-item {
    display: flex;
    align-items: center;
}

.comments__comment-bottom .osekai__dropdown-item i {
    margin-right: 10px;
    margin-bottom: 2px;
}

.comments__comment-top-username_area {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comments__comment-top-username_area object {
    margin-top: -6px;
}
