.osekai__navbar-pfp {
    box-shadow: 0px 0px 0px 2px #ff9f22;
    filter: drop-shadow(0px 0px 12px #ff9f2255);
}

@media (max-width: 900px) {

    /* mobile stuffs */
    #desktop_exp {
        display: none !important;
    }

    .desktop_exp {
        display: none !important;
    }
}

@media (min-width: 900px) {
    #mobile_exp {
        display: none !important;
    }

    .mobile_exp {
        display: none !important;
    }
}