<?php
// modes:
// - production
//   live site on osekai.net, same setup
// - local
//   same as live site, but with admin and expeirmental walls removed
// - dev
//   everyone has experimental mode, even when logged out
define("MODE", "local");
define("AUTHENTICATOR_KEY", "key");
define("VPS_IP", "ignore"); // internal stuff, such as reporting and alerts. ignore

define("EXPERIMENTAL_KEY", "on");

define("OSU_API_V1_KEY", "your_api_key_here");
define("OSU_OAUTH_CLIENT_SECRET", "your_client_secret_here");
define("OSU_OAUTH_CLIENT_ID", "your_client_id_here");
define("OSU_OAUTH_REDIRECT_URI", "http://localhost:8080/global/php/login.php");

define("DB_USER", "db_username");
define("DB_PASSWORD", "db_password");
define("DB_NAME", "db_name");
define("DB_HOSTNAME", "db_hostname");

define("SNAPSHOTS_WEBHOOK", "webhook_url");
define("SCRIPTS_RUST_KEY", "key");

define("LANG_UPDATE_KEY", "key");
define("CROWDIN_API_KEY", "key");

// Must NOT include the / at the end
define("ROOT_URL", "http://localhost:8080");