.alerts__alert-info, .alerts__alert-code {
    width:50%;
}

.alerts__date-inputs {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.alerts__date-inputs label {
    width: 50%;
}