@keyframes home_loader {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.home__loader-wait {
    opacity: 0;
    filter: brightness(2);
}

.osekai__panel-container {
    animation: none !important;
    transition: all 1.6s cubic-bezier(0, .33, 0, 1.01);
}

.home__panel-container {
    padding: 42px;
    box-sizing: border-box;
    padding-bottom: 86px;
}

.home__logo-lottie {
    transition: all 1.9s cubic-bezier(0, .33, 0, 1.01);
}

.home__loader-wait .home__logo-lottie {
    transform: scale(0.5) translateY(80px);
    opacity: 0;
}

.home__cover-middle p, .home__cover-bottom, .home__cover-arrow {
    transition: all 2s cubic-bezier(0, .33, 0, 1.01) !important;
}

.home__loader-wait .home__cover-middle p {
    transform: scale(0.5) translateY(50px);
    filter: blur(10px);
}

.home__loader-wait .home__cover-bottom {
    opacity: 0;
    filter: blur(10px) brightness(0);
}

.home__loader-wait .home__cover-arrow {
    transform: translateY(20px) scale(0.2);
    opacity: 0;
}

.home__loader-wait .home__cover-background {
    opacity: 0;
}

.home__cover-background {
    transition: all 1s ease;
}


.home__warning-bar {
    padding: 20px 42px;
    background-color: #fff1;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.home__cover {
    height: calc(100vh - var(--navheight));
    /* background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.home__cover-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home__cover-background img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex: 1;
    position: relative;
}

.home__cover-middle {
    margin: auto;
    width: 75vw;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-bottom: calc(var(--extraheight) + 59px);
}

.home__cover-bottom {
    bottom: 20vh;
    position: absolute;
}

.home__logo {
    max-height: 95px;
    height: 18vw;
    z-index: 2;
}

.home__cover-middle p {
    font-size: 24px;
    opacity: 0.95;
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .home__cover-middle p {
        font-size: 18px;
    }
}

.home__cover-middle p strong {
    font-weight: bold;
    opacity: 1;
}

.home__cover-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__cover-bottom p {
    margin-left: 10px;
    font-weight: 3 00;
    font-size: 18px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.home__cover-bottom p span {
    color: #B1DAFF;
}

.home__cover-bottom p span strong {
    font-weight: 900;
}

@media (max-width: 600px) {
    .home__cover-bottom {
        margin: 0px 100px;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .home__cover-bottom p {
        margin: 0px;
        margin-top: 8px;
        font-size: 16px;
    }
}

.home__panel {
    background: linear-gradient(#2222, #eee1), linear-gradient(rgba(var(--paccent), 0.7), rgba(var(--paccent), 1));
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    display: flex;
    transition: all 0.2s ease;
}

.home__panel .home__panel-hoverable:hover {
    background: rgba(var(--paccent), 0.4);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.home__panel-hoverable:hover {
    transform: scale(1.01) translateY(-8px);
    filter: brightness(1.1);
}

.home__panel-hoverable:active {
    transform: scale(1.005) translateY(-2px);
}

.home__panel-inner {
    padding: 27px 34px;
    display: flex;
    align-items: center;
}

.home__vertical-glowbar {
    background: rgba(var(--paccent-bright), 1);
    /* box-shadow: 1px 0px 25px rgba(var(--paccent-bright), 1), 2px 0px 19px rgba(var(--paccent-bright), 1); */
    border-radius: 32px;
    width: 4px;
    min-width: 4px;
    max-width: 4px;
    align-self: stretch;
}

.home__horizontal-glowbar {
    height: 2px;
    background: rgba(var(--paccent-bright), 1);
    /* box-shadow: 1px 0px 25px rgba(var(--paccent-bright), 1), 2px 0px 19px rgba(var(--paccent-bright), 1); */
    border-radius: 32px;
    width: 100%;
    margin: 10px 0px;
}

.home__panel-inner-texts {
    padding: 0px 42px;
}

.home__panel-img {
    border-radius: 8px;
    border: 1px solid rgb(var(--paccent-bright));
    box-sizing: border-box;
    height: 21vw;
    flex: 1;
    /* box-shadow: 0px 4px 34px rgba(var(--paccent-bright), 0.25); */
}

.home__new-badge {
    background: linear-gradient(99.02deg, #FFFFFF -4.87%, rgba(255, 255, 255, 0.8) 41.39%, #FFFFFF 97.22%);
    color: rgb(var(--paccent));
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 2px 2px 18px #FFFFFF;
    border-radius: 12.5px;
    min-width: 62px;
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__new {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
    font-size: 16px !important;
}

.home__panel-inner-texts h3 {
    font-size: 20px;
    font-weight: 600;
}

.home__panel-inner-texts h1 {
    font-weight: 100;
    font-size: 42px;
    opacity: 0.9;
}

.home__panel-inner-texts h1 strong {
    font-weight: 900;
    opacity: 1;
}

.home__app-text {
    font-size: 18px;
}

.home__panel_vertical {
    flex-direction: column;
}

.home__panel_vertical .home__panel-img {
    width: 100%;
    height: auto;
}

.home__panel_vertical .home__panel-inner {
    padding: 25px;
}

.home__panel_vertical .home__panel-inner-texts {
    padding: 0px 25px !important;
}

.home__panel_vertical .home__panel-inner-texts h1 {
    font-size: 30px;
}

.home__panel_vertical .home__panel-inner-texts p {
    font-size: 16px;
}

.home__panel-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

@media (max-width: 1200px) {

    /* ! we need to make the wide panels tall instead, because ✨ phone ✨ */
    .home__panel {
        flex-direction: column;
    }

    .home__panel-img {
        width: 100%;
        height: auto;
    }

    /* padding should take off of the home__panel_vertical style */
    .home__panel-inner {
        padding: 25px;
    }

    .home__panel-inner-texts {
        padding: 0px 25px !important;
    }
}

@media (max-width: 1068px) {
    .home__panel-row2 {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 600px) {

    /* smaller font size */
    .home__panel-inner-texts h1 {
        font-size: 30px;
    }

    .home__panel-inner-texts h3 {
        font-size: 18px;
    }

    .home__panel-inner-texts p {
        font-size: 14px;
    }

    .home__panel-inner-texts {
        padding: 0px 25px !important;
    }



}

@media (max-width: 400px) {
    .home__long-panel {
        flex-direction: column;
    }

    .home__vertical-glowbar {
        max-width: 0px !important;
        width: 0px !important;
        min-width: 0px !important;
    }

    .home__panel_vertical .home__panel-inner-texts, .home__panel-inner-texts {
        padding: 0px !important;
    }
}

.home__long-panel {
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.home__long-img {
    padding: 15px 35px;
    height: 70px;
}

.home__long-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__long-texts h1 {
    font-weight: 100;
    font-size: 30px;
}

.home__long-texts h1 strong {
    font-weight: 900;
}

.home__long-texts p {
    font-size: 16px;
}

.home__faq {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-top: 20px;
    background-image: url("../img/faq-bg.png");
    background-size: cover;
    background-position: center;
    height: 35vw;
    box-sizing: border-box;
}

.home__faq-questions-list, .home__faq-answer {
    padding: 45px 60px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

.home__faq-questions-list {
    width: 570px;
}

.home__faq-answer {
    flex: 1;
    width: 100%;
    background: rgba(55, 52, 85, 0.75);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;
}

.home__faq-question {

    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgba(53, 51, 92, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 9px;
    padding: 17px 14px;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 100;
    transition: all 0.1s ease;
    ;
}

.home__faq-question:hover {
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), rgba(53, 51, 92, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
    transform: scale(1.01) translateY(-2px);
}

.home__faq-question-active {
    font-weight: 900;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.9) 0%, #FFFFFF 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #48456b;
    box-shadow: 0px 4px 13px rgba(255, 255, 255, 0.25);
}

.home__faq-question-active:hover {

    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.9) 0%, #FFFFFF 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: #48456b;
    box-shadow: 0px 4px 13px rgba(255, 255, 255, 0.8);
}

.home__faq-appheader {
    font-size: 24px !important;
    margin-top: 26px !important;
    font-weight: 900 !important;
    opacity: 0.9 !important;
}

.home__faq-answer-title, .home__faq-questions-list h1 {
    font-size: 36px;
    font-weight: 100;
}

.home__faq-answer-answer, .home__faq-questions-list h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

.home__faq-answer-answer {
    line-height: 26px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
    .home__faq-questions-list {
        width: 500px;
    }
}

@media (max-width: 1000px) {
    .home__faq {
        flex-direction: column;
        height: auto;
    }

    .home__faq-questions-list {
        width: 100%;
        height: 300px;
    }

    .home__faq-answer {
        width: 100%;
        height: 500px;
        min-height: 500px;
    }
}

.faq__mc li {
    color: rgb(var(--maincol));
    filter: brightness(1.3) saturate(1);
    margin: 4px;
    margin-left: 14px;
}

.faq__mc {
    padding: 6px 10px;
    background-color: #0003;
    border-radius: 5px;
}

code {
    padding: 2px;
    border-radius: 2px;
    background-color: #0003;
}

.home__cover-arrow {
    position: absolute;
    bottom: 50px;
    transition: all 0.1s ease;
    z-index: 10;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 900px;
    background: radial-gradient(circle, #fff1, #fff3);
    border: 1px solid #fff1;
}

.home__cover-arrow:hover {
    background: radial-gradient(circle, #fff, #fffa);
    box-shadow: 0px 0px 20px #fff;
    border: 1px solid #fff1;
    color: rgba(var(--accentdark), 1);
}


.home__team {
    margin-top: 20px;
    padding: 45px 60px;
    background-color: rgba(var(--accentdark), 0.5);
    display: flex;
    position: relative;
    flex-direction: column;
}

.home__team-member {
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    background-color: rgb(var(--accentdark));
}

.home__team-member-info {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 14px;
}

.home__team-member-background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    mix-blend-mode: color;
    filter: blur(56px);
}

.home__team-member-info-inner, .home__team-member-socials-inner {
    z-index: 9;
    position: relative;
    padding: 12px;
}

.home__team-member-info-inner {
    color: rgb(var(--accentdark));
    display: flex;
    align-items: center;
}

.home__team-member-info-texts {
    margin-left: 12px;
}

.home__team-member-info-inner img {
    border-radius: 6px;
    height: 76px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
}

.home__team-member-info-texts-name {
    display: flex;
    align-items: center;
}

.home__team-member-info-texts-name p {
    font-weight: 900;
    font-size: 26px;
}

.home__team-member-info-texts small {
    font-weight: 100;
    font-size: 14px;
    opacity: 0.8;
}

.home__team-member-info-texts small strong {
    font-weight: 900;
}

.home__team-member-info-texts p {
    font-size: 18px;
}

.home__team-member-info-texts-badges {
    margin-left: 6px;
    display: flex;
    gap: 6px;
}

.home__team-member-socials-inner {
    padding: 12px 15px;
    display: flex;
}

.home__team-member-social {
    margin-right: 18px;
    font-size: 20px;
}
.home__team-member-social:hover {
    text-shadow: 0px 0px 8px #fff;
}

.home__team-grid {
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

@media (max-width: 1400px) {
    .home__team-grid {
      grid-template-columns: 1fr;
    }
}