.profiles__osekai__panel-nav {
    background: linear-gradient(rgba(var(--accent), 0.1), rgba(var(--accent), 0)), linear-gradient(#fafafa, #eee) !important;
    color: #222 !important;
    border-bottom: 1px solid #2222 !important;
}

.profiles__rank-nav {
    color: rgba(50, 50, 50, 0.7);
}

.profiles__rank-nav strong {
    color: #222;
}

.profiles__user-bar {
    background-color: white;
}

.profiles__gamemode-button-active {
	opacity: 1;
	filter: drop-shadow(0px 0px 6px #000a);
}

.profiles__gamemode-button {
    filter: invert(0.9);
}

.profiles__cover-top {
	background-color: rgba(var(--accent), 0.05);
	/* border: 1px solid rgba(var(--accentdark), 1) !important; */

        /* border: 1px solid rgba(var(--accentdark), 1) !important; */
        border-radius: 8px;
        box-sizing: border-box;
        box-shadow: inset 1px 0px 0px 0px #2220;
        border-bottom: 1px solid rgba(var(--accentdark), 0.1) !important;
    border-radius: 0px;
}

.profiles__cover-back {
    box-shadow: inset 0px 0px 0px 0px #2220;
}

.profiles__cover {
    border-radius: 8px 0px;
}

.profiles__graph-area {
    background-color: rgba(var(--accent), 0.02);
    border-bottom: 1px solid rgba(var(--accentdark), 0.1) !important;

}

.chartWrapper {
    filter: invert(0.7);
}

.profiles__mhs-year {
    color: white;
    background-color: rgba(var(--accent), 1)
}

.profiles__mhs-texts {
    color: #000a;
}

.profiles__mhs-right {
    border-left: 1px solid rgba(var(--accent), 1);
}
.profiles__mhs-right {
    background-color: #fff;
}

.profiles__goal {
    border: 0px solid #0000;
    background-color: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
}

.osekai__progress-bar {
    background-color: #0004;
}



.profiles__goal-type {
    filter: invert(0.9);
}


.profiles__sb-background {
    opacity: 0.4;
}

.profiles__sidebar-button {
	background-color: rgba(var(--accent), 0.1);
}


.profiles__ranking-user {
    background: linear-gradient(rgba(var(--accent), 0.01), rgba(var(--accent), 0.1)), linear-gradient(#fff, #fff) !important;
    filter: drop-shadow(0px 2px 6px #0002);
}

.profiles__ranking-user:hover {
    background: linear-gradient(rgba(var(--accent), 0.1), rgba(var(--accent), 0.2)), linear-gradient(#fff, #fff) !important;
    filter: drop-shadow(0px 4px 8px #00000004) !important;
}

.profiles__info-panel {
	background: #fffa linear-gradient(rgba(var(--accent), 0.1), rgba(var(--accent), 0.2));
	border: 1px solid rgba(var(--accentdark), 0.1);
	box-shadow: 0px 0px 0px 0px #0000;
}

.profiles__timeline-dot {
	background-color: rgba(var(--accent), 1);
	box-shadow: 0px 0px 0px 3px #f7f8fb;
}

.profiles__timeline-dot-active {
    z-index: 2;
    box-shadow: 0px 0px 2px 5px rgba(var(--accent), 0.25), 0px 0px 0px 7px #f7f8fb;
}

.profiles__timeline {
    background: linear-gradient(rgba(var(--accent), 0.3), rgba(var(--accent), 0.6));
}

.profiles__info-panel-container {
    z-index: 999;
    position: relative;
}

.profiles__cover-top {
	background: linear-gradient(rgba(var(--accent), 0.2), rgba(var(--accent), 0.1));
	border-bottom: 1px solid rgba(var(--accentdark), 0.1) !important;
	border-radius: 0px;
}

.profiles__user-bar, .profiles__top-bar-home {

        background: linear-gradient(rgba(var(--accent), 0.1), rgba(var(--accent), 0.2)), linear-gradient(#fff, #fff) !important;
 
        border: 1px solid #fff2;
    
}

.profiles__goal-input {
	border-radius: 8px;
	border: 1px solid #fff1;
	background: linear-gradient(to top, rgba(var(--accent), 0.1), rgba(var(--accent), 0.2)), linear-gradient(#fff, #fff) !important;
    box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.1);
}

.profiles__goal-input-amount {
    color: #222;

	box-shadow: inset 4px 4px 12px 3px #12192411;

    background: linear-gradient(to top, rgba(var(--accent), 0.2), rgba(var(--accent), 0.1)), linear-gradient(#fff, #fff) !important;
}

.profiles__mhs-year {
    color: #fff;
    background: rgba(var(--accent), 1);
}

.profiles__medalinfo-section {
	/* background: rgba(51, 68, 102, 0.2); */
	background: linear-gradient(to bottom, rgba(var(--accent), 0.3), rgba(var(--accent), 0.1)), linear-gradient(to bottom, #fff0, #fff1);
}

.profiles__medal-progress-percentage {
	filter: drop-shadow(0px 0px 14px rgba(var(--maincol), 0.5)) brightness(0.5);
}

.profiles__medalinfo-section_rarest-medalinfo .background {
	opacity: 0.4;
}

.profiles__medalinfo-section_rarest-medalinfo {
	background: rgba(255, 255, 255, 0.2);
}

.profiles__mhs-right {
	background: linear-gradient(45deg, rgba(var(--accent), 0.4), rgba(var(--accent), 0.1));
}

.profiles__feature-introduction-goals {
    background: linear-gradient(0deg, #fff6, #fffa), linear-gradient(0deg, rgba(var(--accent), 0.9), rgba(var(--accent), 0.8)), url(../img/goals-welcome-img.png);
}


.profiles__feature-introduction-timeline {
    background: linear-gradient(91.62deg, rgba(0, 0, 0, 0.3) 0.21%, rgba(255, 255, 255, 0.05) 90.39%), linear-gradient(0deg, rgba(var(--accent), 0.9), rgba(var(--accent), 0.8)), linear-gradient(0deg, #fff9, #fffa), url(../img/timeline--img.png);
}

.profiles__panel {
    background-color: #ddd5;
}

.profiles__userbanner-bottom-container {
	background: #fff !important;
}

.profiles__userbanner {
	background: linear-gradient(180deg, rgba(var(--accent), 0.2) 60.42%, rgba(var(--accent) 0.1) 100%), #eee !important;
	border: 1px solid #2221;
}

.profiles__userbanner-bottom-bottom {
	padding: 16px;
	background: #fafafa;
	border-radius: 11px;
	position: relative;
	transition: all 0.2s ease;
}

.profiles__userbanner-top-toggle-item {
    background: #fff;
}

.profiles__userbanner-top-toggle-item-active {
    background: rgb(var(--accent));
    color: white;
}

.profiles__userbanner-top-text pre {
    color: #222c;
}

.profiles__unachievedmedals-section-inner {
	background: rgba(255, 255, 255, 0.75);
}

.profiles__unachievedmedals-section-header {
    color: white;
}

.profiles__unachievedmedals-section-progress-medal {
    background: #fffa;
}

.profiles__unachievedmedals-section-progress-medal {
    --maincol: var(--col) !important;
}